/* Estilos index */

/* .carousel-item:nth-child(1) .btn-comprar {
    background-color: #d130bf;
}

.carousel-item:nth-child(3) .btn-comprar {
    background-color: #00bcd4; 
} */

.btn-comprar {
    background-color: #fdedf8;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    text-decoration: none; 
}

.btn-comprar a {
    color: #333; 
    text-decoration: none; 
}

.btn-comprar a:hover {
    color: #333; 
}

/* .move-up {
    margin-top: -20px; 
} */

.estilo{
    margin-bottom: 295px; 
    text-transform: uppercase;
    font-family: 'Press Start 2P', sans-serif;
}

.carousel-item:nth-child(1) .estilo {
    font-size: 24px; /* Tamaño de fuente para la primera foto */
    color: #781d8d; /* Color de texto para la primera foto */
}

.carousel-item:nth-child(2) .estilo {
    font-size: 20px; /* Tamaño de fuente para la segunda foto */
    color: #fb6d9d; /* Color de texto para la segunda foto */
}

.carousel-item:nth-child(3) .estilo {
    font-size: 28px; /* Tamaño de fuente para la tercera foto */
    color: #7afff6; /* Color de texto para la tercera foto */
}

/* .carousel-item:nth-child(1) .slogan {
    font-size: 30px;
    background-color: #ffffff4d; 
    color:rgb(22, 22, 22);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.carousel-item:nth-child(2) .slogan {
    font-size: 30px; 
    color: rgb(58, 57, 57); 
    background-color: #ffffff4d; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.carousel-item:nth-child(3) .slogan {
    font-size: 30px; 
    color: #00bcd4; 
    background-color: #ffffff4d; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
} */

.carousel-item img {
    width: 100%;
    height: 100%; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

.carousel-item {
    height: 600px; /* Altura fija para todos los elementos del carrusel */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #faace1; /* Cambia el color de fondo de las flechas a negro */
    border-radius: 50%; /* Añade un borde redondeado si lo deseas */
}


@media (max-width: 768px) {
    .carousel-item {
        height: auto; /* Cambia la altura a automática en dispositivos móviles */
    }
}



