/*estilo inicio de sesión*/
.noVisible{
    display: none;
}

body {
    background-color: #fff; 
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #ff007f; 
    border: none; 
    border-radius: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    width: 400px; 
}

 .card-header {
    /* background-color: #ff0055;
    border-radius: 20px; */
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0; 
    margin-bottom: 20px; 
} 

.card-body {
    text-align: center;
}

.form-control {
    background-color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 12px 15px; 
    margin-bottom: 20px;

}

.form-control:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #ff0055; 
    border: none;
    border-radius: 10px;
    color: #fff; 
    font-weight: bold;
    padding: 12px 20px; 
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px; 
    width: 100%; 
}


#contra {
    position: relative;
}

#mostrar {
    top: 50%; /* Posición vertical en el centro */
    right: 10px; /* Distancia desde el borde derecho del label */
    transform: translateY(-50%); /* Ajuste vertical al centro */
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s ease-in-out;
    font-size: 20px; /* Tamaño del ícono */
}


#contra:focus + #mostrar {
    color: #c9c6c6;
}

.fa-circle-info {
    margin-left: 5px; /* Espacio entre el texto y el ícono */
    color: #ccc; /* Color del ícono */
    font-size: 14px; /* Tamaño del ícono */
}


#registrar {
    background-color: #fff; 
    border: none;
    border-radius: 10px; 
    color: #ff007f; 
    font-weight: bold; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out; 
    margin-top: 20px; 
}

#registrar:hover {
    background-color: #fcd2e7; 
}


.cuenta{
    color: #fff; 
    font-weight: bold;
    margin-top: 20px; 
}

#enlace{
    text-decoration: none; 
    font-weight: bold; /
}

#enlace:hover {
    color: #fcd2e7; 
}

.form-group {
    text-align: left;
}

.form-label {
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px; 
}

#enviar {
    background-color: #fff; 
    border: none;
    border-radius: 10px; 
    color: #ff007f;  
    font-weight: bold; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out; 
    margin-top: 20px; 
}

 form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #ffffff; 
   
    
}

   .form-group {
    position: relative;
} 


.form-group .fa-eye-slash, .fa-eye {
    position: absolute;
    padding-top:20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;     
}

.fa-chevron-left {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    color: #ff007f;
}
