/* Estilos del header */
header {
    /* background-color: #fdedf8;
    padding: 5px 10px;
    height: 100px;
   display: flex;
    align-items: center; */
}

#logo {
    width: 120px;
    height: auto;
}

.iconos-header {
    display: flex;
    /* align-items: right; */
    float: left;
    margin: 0;
    left: 25%;
    transform: translatex(-50%);
    position: relative;
}

.iconos-header a {
    color: #333;
    margin-right: 20px;
    font-size: 24px;
}

.iconos-header a:hover {
    color: #ff69b4;
}

.navbar-nav {
        float: left;
        margin: 0;
        left: 60%;
        transform: translatex(-50%);
        position: relative;
        /* display: block; */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    display: inline-block;
}

.navbar-nav li a.nav-link {
    font-size: 22px;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Añade un margen entre cada opción de navegación */
}

.dropdown-menu {
    background-color: #fdedf8 !important; 
    border-radius: 40%;

}

.dropdown-item:hover {
    background-color: #ff69b4 !important;
}

/* Estiloss para ocupar toda la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

/* Estilos términos */
.terminos-main {
    padding: 20px;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../imagenes/estrella_hiper_dif.jpg");
    /* background-position:20px; */

}

section {
    margin-bottom: 30px;
}

h2 {
    color: #262626;
    font-weight: bold;
}

p {
    color: #333;
    font-size: 25px;
}

/* Estilos footer */
footer {
    background-color: #fdedf8;
    padding: 13px 0; /* Reducción del relleno */
    font-family: "Playfair Display", serif;
    color: #333;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-footer {
    color: #333;
    font-size: 24px;
}

.iconos-footer a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
}

.iconos-footer a:hover {
    color: #ff69b4;
}

.footer-terminos {
    text-align: center;
}

.footer-terminos a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
}

.footer-terminos a:hover {
    color: #ff69b4;
}

.copyright {
    font-size: 24px;
}
